<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../style/catFacts.css"/>
    </head>
    <body>
        <div class="test">
            <div class="text">
                <h2><%=output%></h2>
            </div>
            <div class="button-group">
                <button class="button like-button">
                    Like
                </button>
                <a href="/facts/cats">
                    <button class="button reload-button">
                        Another Fact
                    </button>
                </a>
                <button class="button dislike-button">
                    Dislike
                </button>
            </div>
        </div>
        <div class="login-icon">
            <a href="/login">
                <img src="../images/login_icon_151220.png" alt="Login">
            </a>
        </div>
    </body>
</html>