<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style/style.css"/>
    </head>
    <body>
        <div class="test">
            <h1>Hello World!</h1>
        </div>
    </body>
</html>